<app-navigation-bar></app-navigation-bar>
<section class="view-cointainer" >
    <div class="dsc-carousel">
        <div class="dsc-carousel-content">
            <ng-container *ngFor="let section of items">
                <div class="dsc-carousel-content-item"
                [ngStyle]="{'background-image':'url('+ section.image+')', 'margin-left':section.marginLeft + '%'}"
                >

                </div>
            </ng-container>
        </div>
        <div class="dsc-carousel-steps">
            <div class="dsc-carousel-steps-step dsc-carousel-steps-step-{{currentPosition === item.id? 'active':''}}" 
            *ngFor="let item of items" (click)="setCarouselCurrentPosition(item.id)">

            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>