@import "../../../../styles.scss";

*{
    margin: 0;
    padding: 0;
    font-family: "Myriadpro-regular";
    font-style: normal;
    font-weight: 400;
}
.header-section{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    .logo-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        justify-content: space-around;
        &-image{
            width: 90%;
            justify-content: flex-start;
            display: flex;
        }
    }
    .buttons-cointainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        .button-login{
            min-width: 20%;
            width:50%; 
        background-color:$primary ;
        color: $general;
        font-size: 1.2em;
        height: 50px;
        }
    }
}