*{
    margin: 0;
    padding: 0;
    background-color: greenyellow;
}
.header-section{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    
    align-items: center;
    .logo-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        justify-content: space-around;
        &-image{
            width: 90%;
            justify-content: flex-start;
            display: flex;
        }
    }
    .buttons-cointainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        .button-login{
            
        }
    }
}