
<footer class="footer-section">
    <div class="contact-cointainer-buttons">
        <div class="contact-cointainer-buttons-item">
            <img class="contact-cointainer-item-img" src="./assets/images/phone-social-icon.svg" alt="">
            <label for="contact-cointainer-item-img">958652558</label>
        </div>
        <div  class="contact-cointainer-buttons-item contact-cointainer-buttons-main-item">
            <img class="contact-cointainer-item-img" src="./assets/images/whatsapp-social-icon.svg" alt="">
            <label for="contact-cointainer-item-img">958652558</label>
        </div>
        <div  class="contact-cointainer-buttons-item">
            <img class="contact-cointainer-item-img" src="./assets/images/facebook-social-icon.svg" alt="">
            <label for="contact-cointainer-item-img">Grupo Mendieta</label>
        </div>
       
    </div>
     <div class="contact-cointainer-background">
            <img src="../../../../assets/images/graphic-footer.svg" alt="">
        </div>
</footer>