
<footer class="footer-section">
    <div class="contact-cointainer">
        <div class="contact-cointainer-item">
            <img class="contact-cointainer-item-img" src="./assets/images/phone-social-icon.svg" alt="">
            <label for="contact-cointainer-item-img">+51 958652558</label>
        </div>
        <div  class="contact-cointainer-main -item">
            <img class="contact-cointainer-item-img" src="./assets/images/whatsapp-social-icon.svg" alt="">
            <label for="contact-cointainer-item-img">+51 958652558</label>
        </div>
        <div  class="contact-cointainer-item">
            <img class="contact-cointainer-item-img" src="./assets/images/facebook-social-icon.svg" alt="">
            <label for="contact-cointainer-item-img">+51 958652558</label>
        </div>
    </div>
</footer>