/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}
body { 
    margin: 0;
    padding: 0;
    font-family: Myriadpro-regular;
}

@font-face {
    font-family: Myriadpro-regular;
    src: url("./assets/fonts/MYRIAD-PRO-FONT/MYRIADPRO-REGULAR.OTF");
}
@font-face {
    font-family: Myriadpro-semibold;
    src: url("./assets/fonts/MYRIAD-PRO-FONT/MYRIADPRO-SEMIBOLD.OTF");
}

@font-face {
    font-family: Myriadpro-bold;
    src: url("./assets/fonts/MYRIAD-PRO-FONT/MYRIADPRO-BOLD.OTF");
}

$primary: #9B0000;
$primary-tone-1: #C60505;
$primary-tone-2: #E44E4E;
$primary-tone-3: #F4B8B8;
$general:#FFFFFF;
$secondary-tone: #B7BDCD;
$secondary-tone-1: #66718F;
$secondary-tone-2: #2D2D2D;
$confirmation:#65B58D; 
$mistakes:$primary-tone-1;
$text:$secondary-tone-2