@import "../../../../styles.scss";


.view-login {
    width: 100%;
    height: 100vh;
    background-image: url('../../../../assets/images/background-login.svg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    overflow: hidden;
    z-index: 1;

    .section-login {
        z-index: 5;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        width: 50%;
        height: 100vh;

        &-form {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: $general;
            opacity: 0.9;
            box-shadow: 5px 10px 5px 5px rgba(0, 0, 0, 0.4);
            border-radius: 36px;

            position: relative;
            left: -5%;
            width: 44%;
            height: 40vh;
            padding: 8% 6% 8% 6%;

            .logo-container {
                display: flex;
                justify-content: center;
                margin: 40px 0 20px 0;
            }

            .form-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                form {

                    .loginForm-inputs {
                        margin: 4% 0 4% 0;


                        mat-form-field {
                            margin: 0;

                            width: 100%;

                            ::ng-deep {
                                .mat-form-field-appearance-outline .mat-form-field-wrapper {
                                    margin: 0;
                                }
                            }

                            ::ng-deep {
                                .mat-form-field-appearance-outline .mat-form-field-infix {
                                    padding: 0.9em 0 0.9em 0;
                                }

                            }

                            ::ng-deep {
                                input.mat-input-element:first-child {
                                    margin-top: -1px;
                                    line-height: 17px;
                                }
                            }



                            mat-icon:first-child {
                                color: $secondary-tone-2;
                                margin-right: 7px;
                                top: -1px;
                                position: relative;

                            }

                            mat-icon:last-child {
                                color: $secondary-tone-2;
                                margin-right: 7px;
                                top: -2.5px;
                                position: relative;


                            }
                        }


                    }

                    .loginForm-actions-about-form {
                        margin: 5px 0 5px 0;
                        display: flex;
                        justify-content: space-between;
                        color: $secondary-tone-2;

                        ::ng-deep { 
                            .mat-checkbox-background {
                            background-color: $general
                        }

                    };
                    ::ng-deep { 
                        .mat-checkbox-inner-container {
                            border: 2px solid #66718F;
                            border-radius: 3px;
                            top: -1px;
                    
                }};

                        ::ng-deep { 
                            .mat-checkbox-checked .mat-checkbox-checkmark {
                            filter: invert(100%);
                        }
                    };

                        a{
                            //text-decoration: underline;
                            position: relative;
                            top: 2px;
                        
                        };

                    }

                    .loginForm-button {
                        margin: 5px 0 5px 0;
                        display: flex;
                        justify-content: center;
                        top: 2%;

                        button {
                            background-color: $primary;
                            color: $general;
                            width: 170px;
                            border-radius: 6px;
                            height: 48px;
                            margin: 30px 0 30px 0;
                        }

                    }
                }
            }
        }

   &-text-version{
    position: fixed;
    z-index: 100;
    float: left;
    top: 0;
    right: 0;
    margin-right: 20px;
   }
    }
}